/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
}
ul > li {
  list-style: none;
}
i {
  color: white;
}

/*utils*/
.container {
  width: 1000px;
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-inline {
  display: inline;
}
:root {
  --header-main-height: 100px;
  --player-height: 100px;
  --sidebar-width: 60px;
}
/* MAIN*/
.main {
  height: calc(100vh - var(--player-height));
}
.main-content {
  background-color: #141922;
  width: calc(100% - var(--sidebar-width));
}
.header-main {
  background-color: #0c0f14;
  height: var(--header-main-height);
}
.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

/*SIDEBAR*/

.logo {
  width: 30px;
  margin: 10px;
}
li > i,
p > li,
.playlist {
  padding-left: 10px;
}
.complite {
  width: 150px;
}
li {
  padding: 15px 0px;
}
.sidebar-bottom > p {
  padding: 10px 5px 5px 0px;
  vertical-align: center;
}
p > span {
  padding: 0px 5px;
}
hr {
  width: 160px;
  margin: 5px;
}
.create-playlist{
  margin: 10px 0px;
}
.title-playlist{
  padding: 15px 0px;
}
.list-playlist {
  overflow-y: scroll;
  height: 200px;
}
/*FOOTER*/
.player {
  background-color: #282828;
  height: var(--player-height);
  width: 100%;
}

@media screen and (min-width: 480px) {
  :root {
    --sidebar-width: 200px;
  }
  .sidebar {
    align-items: initial;
  }
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-inlineblock {
    display: inline-block;
  }
  .nav-sidebar > ul > li:first-child {
    border-left: 2px solid greenyellow;
  }
}
